<div class="content-wrapper">
    <div class="content">
        <h1><i class="fa fa-tags"></i> {{'certificates.title'|translate}}</h1>
        {{'certificates.description'|translate}}

        <br/>
        <br/>

        <form [formGroup]="form" novalidate>

            <div class="grid gutter">
                <div class="col-4 col-md-12">

                    <input-component class="col-4 col-md-12" label="certificates.cert.type"
                                     [errors]="form.controls.certType.errors"
                                     [control]="form.controls.certType">

                        <select formControlName="certType">
                            <option disabled selected value></option>
                            <option value="CA">CA</option>
                            <option value="SERVER">Server</option>
                            <option value="CLIENT">Client</option>
                        </select>
                    </input-component>

                </div>
            </div>

            <div class="grid gutter" *ngIf="certType">
                <div class="col-4 col-md-12" *ngIf="certType=='SERVER' || certType=='CLIENT'">
                    <h3><i class="fa fa-building"></i> {{'certificates.ca.group-name'|translate}}</h3>
                    {{'certificates.ca.group-description'|translate}}
                    <div class="grid gutter">

                        <input-component class="col-12" label="certificates.ca.alias"
                                         [errors]="form.controls.caAlias.errors"
                                         [control]="form.controls.caAlias">
                            <input type="text" formControlName="caAlias">
                        </input-component>

                        <input-component class="col-12" label="certificates.ca.keystore"
                                         [errors]="form.controls.caKeystore.errors"
                                         [control]="form.controls.caKeystore">
                            <input type="text" formControlName="caKeystore">
                        </input-component>

                        <input-component class="col-12" label="certificates.ca.keystorePass"
                                         [errors]="form.controls.caKeystorePass.errors"
                                         [control]="form.controls.caKeystorePass">
                            <input type="password" formControlName="caKeystorePass">
                        </input-component>
                    </div>

                </div>
                <div class="col-8 col-md-12">
                    <h3><i class="fa fa-id-card"></i> {{'certificates.cert.group-name'|translate}}</h3>
                    {{'certificates.cert.group-description'|translate}}
                    <div class="grid gutter">

                        <input-component class="col-12" label="certificates.cert.alias"
                                         [errors]="form.controls.alias.errors"
                                         [control]="form.controls.alias">
                            <input type="text" formControlName="alias">
                        </input-component>

                        <input-component class="col-4" label="certificates.cert.keyAlg"
                                         [errors]="form.controls.keyAlg.errors"
                                         [control]="form.controls.keyAlg">
                            <select formControlName="keyAlg" (change)="keyAlgChanged()">
                                <option selected value="RSA">RSA</option>
                                <option value="EC">EC</option>
                            </select>
                        </input-component>
                        <input-component class="col-4" label="certificates.cert.keySize"
                                         [errors]="form.controls.keySize.errors"
                                         [control]="form.controls.keySize">
                            <input type="text" formControlName="keySize">
                        </input-component>
                        <input-component class="col-4" label="certificates.cert.validityDays"
                                         [errors]="form.controls.validityDays.errors"
                                         [control]="form.controls.validityDays">
                            <input type="text" formControlName="validityDays">
                        </input-component>

                        <input-component class="col-3 col-lg-6" label="certificates.cert.dnameCN"
                                         [errors]="form.controls.dnameCN.errors"
                                         [control]="form.controls.dnameCN">
                            <input type="text" formControlName="dnameCN">
                        </input-component>
                        <input-component class="col-3 col-lg-6" label="certificates.cert.dnameOU"
                                         [errors]="form.controls.dnameOU.errors"
                                         [control]="form.controls.dnameOU">
                            <input type="text" formControlName="dnameOU">
                        </input-component>
                        <input-component class="col-3 col-lg-6" label="certificates.cert.dnameO"
                                         [errors]="form.controls.dnameO.errors"
                                         [control]="form.controls.dnameO">
                            <input type="text" formControlName="dnameO">
                        </input-component>
                        <input-component class="col-3 col-lg-6" label="certificates.cert.dnameC"
                                         [errors]="form.controls.dnameC.errors"
                                         [control]="form.controls.dnameC">
                            <input type="text" formControlName="dnameC">
                        </input-component>

                        <input-component class="col-6 col-md-6" label="certificates.cert.keystore"
                                         [errors]="form.controls.keystore.errors"
                                         [control]="form.controls.keystore">
                            <input type="text" formControlName="keystore">
                        </input-component>
                        <input-component class="col-6 col-md-6" label="certificates.cert.keystorePass"
                                         [errors]="form.controls.keystorePass.errors"
                                         [control]="form.controls.keystorePass">
                            <input type="password" formControlName="keystorePass">
                        </input-component>
                        <input-component class="col-6 col-md-6" label="certificates.cert.truststore"
                                         *ngIf="(certType=='SERVER' || certType=='CLIENT')"
                                         [errors]="form.controls.truststore.errors"
                                         [control]="form.controls.truststore">
                            <input type="text" formControlName="truststore">
                        </input-component>
                        <input-component class="col-6 col-md-6" label="certificates.cert.truststorePass"
                                         *ngIf="(certType=='SERVER' || certType=='CLIENT')"
                                         [errors]="form.controls.truststorePass.errors"
                                         [control]="form.controls.truststorePass">
                            <input type="password" formControlName="truststorePass">
                        </input-component>

                        <input-component class="col-12" label="certificates.cert.serverNames"
                                         *ngIf="certType=='SERVER'"
                                         [errors]="form.controls.serverNames.errors"
                                         [control]="form.controls.serverNames">
                            <input type="text" formControlName="serverNames">
                        </input-component>
                    </div>

                </div>
            </div>
        </form>

        <hr>

        <div class="script red" *ngIf="certType=='CA' && certValid">
            <h5>Create CA keystore (key & certificate)</h5>
            <code>keytool -genkeypair -keyalg {{settings.keyAlg}} -keysize {{settings.keySize}} -alias
                {{settings.alias}} -dname "{{settings.dname}}"
                -keystore {{settings.keystore}} -storetype pkcs12 -storepass {{settings.keystorePass}}
                -ext KeyUsage:critical="keyCertSign,cRLSign"
                -ext BasicConstraints:critical="ca:true,pathlen:1" -validity {{settings.validityDays}}
            </code>
        </div>

        <div class="script red" *ngIf="(certType=='SERVER' || certType=='CLIENT') && certValid">
            <h5>Create {{settings.certType|lowercase}} keystore (key & certificate)</h5>
            <code> keytool -genkey -alias {{settings.alias}} -keyalg {{settings.keyAlg}} -keysize {{settings.keySize}}
                -keystore {{settings.keystore}} -storetype pkcs12 -storepass {{settings.keystorePass}} -validity {{settings.validityDays}}
                <span *ngIf="certType=='SERVER' && settings.serverNames">-ext SAN={{settings.serverNames}} </span>
                -ext KeyUsage:critical="digitalSignature,keyEncipherment" -ext EKU="{{settings.eku}}" -dname "{{settings.dname}}"
            </code>
        </div>

        <div class="script orange" *ngIf="(certType=='SERVER' || certType=='CLIENT') && certValid">
            <h5>Create CSR (certificate signing request)</h5>
            <code>
                keytool -certreq -alias {{settings.alias}} -keystore {{settings.keystore}} -storepass
                {{settings.keystorePass}}
                <span *ngIf="certType=='SERVER' && settings.serverNames">-ext SAN={{settings.serverNames}} </span>
                -ext KeyUsage:critical="digitalSignature,keyEncipherment" -ext EKU="{{settings.eku}}" -file
                {{settings.alias}}.csr
            </code>
        </div>

        <div class="script orange" *ngIf="(certType=='SERVER' || certType=='CLIENT') && certValid && caValid">
            <h5>CA: Sign CSR (certificate signing request)</h5>
            <code>
                keytool -gencert -keystore {{settings.caKeystore}} -storepass {{settings.caKeystorePass}} -alias
                {{settings.caAlias}} -validity {{settings.validityDays}}
                <span *ngIf="certType=='SERVER' && settings.serverNames">-ext SAN={{settings.serverNames}} </span>
                -ext KeyUsage:critical="digitalSignature,keyEncipherment" -ext EKU="{{settings.eku}}"
                -infile {{settings.alias}}.csr -outfile {{settings.alias}}-signed.cer
            </code>
        </div>

        <div class="script orange" *ngIf="(certType=='SERVER' || certType=='CLIENT') && certValid && caValid">
            <h5>Import CA cert and signed CSR (certificate signing request)</h5>
            <code>
                keytool -import -keystore {{settings.keystore}} -storepass {{settings.keystorePass}}
                -alias {{settings.caAlias}} -file {{settings.caAlias}}.cer -noprompt
            </code>
            <code>
                keytool -import -keystore {{settings.keystore}} -storepass {{settings.keystorePass}}
                -alias {{settings.alias}} -file
                {{settings.alias}}-signed.cer -noprompt
            </code>
        </div>

        <div class="script yellow" *ngIf="(certType=='SERVER' || certType=='CLIENT') && certValid && caValid">
            <h5>Create {{settings.certType|lowercase}} truststore</h5>
            <code *ngIf="caValid">
                keytool -keystore {{settings.truststore}} -storetype pkcs12 -storepass {{settings.truststorePass}} -import -file
                {{settings.caAlias}}.cer -alias {{settings.caAlias}} -noprompt
            </code>
        </div>

        <div class="script gray" *ngIf="(certType=='SERVER' || certType=='CLIENT') && certValid">
            <h5>Export {{settings.certType|lowercase}} public certificate</h5>
            <code>keytool -export -keystore {{settings.keystore}} -storepass {{settings.keystorePass}}
                -alias {{settings.alias}} -rfc -file {{settings.alias}}.cer
            </code>
        </div>

        <div class="script gray" *ngIf="certValid">
            <h5>OpenSSL scripts: export certs, export private key (without encryption)</h5>
            <code *ngIf="caValid">
                openssl pkcs12 -in {{settings.alias}}-keystore.p12 -password pass:{{settings.keystorePass}} -nokeys -out
                {{settings.alias}}.cer
            </code>
            <code>
                openssl pkcs12 -in {{settings.alias}}-keystore.p12 -password pass:{{settings.keystorePass}} -nocerts
                -nodes -out {{settings.alias}}.pem
            </code>
        </div>


    </div>
</div>